/* Style Sheet para ejercicio1.html por Valeria Vallejos Franciscangeli*/

h1 {
    color: #75344e;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h2{
    color: #9c89b8;
    text-align: center;
    font-family: Geneva, Tahoma, sans-serif
    }

small{
    color: #E462A1;
    font-family: Tahoma, sans-serif;
}

.uploading-form{
    background-color: #f0e6ef;
    width: 50%;
    border: 5px solid #9C89B8 ;
    border-style: double;
    padding: 10px;
    margin: auto;
    text-align: left;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #b8bedd;
  }
  
  
  